*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5E63BA;
    height: 100vh;
}
.gif
{
    position: absolute;
}
.images
{
    padding-left: 50px;
    padding-top: 20px;
    width: 150%;
}
.container
{
    display: flex;
    border: 2px solid white;
    height: 50%;
    width: 1000px;
    border-radius:1rem;
    box-shadow: 5px 5px 30px white;
   background-color: white;
}
ul
{
    display: flex;
    justify-content: center;
    gap: 5px;
    left: 50%;
    margin-top: 80px ;
    margin-bottom: 20px;
}
.list
{
    
    width: 28px;
    border-bottom: 1px solid black;
    list-style: none;
    gap: 10px;


}
.right  
{
    text-align: center;
    padding-right: 30px;
}
.hint
{
    margin-bottom: 10px;
}
.Guess
{
    margin-bottom: 20px;
}
.buttons
{
    
    cursor: pointer;
    width: 2rem;
    margin: 3px;
    background-color: #5E63BA;
    height: 20px;
    color: white;
    border-radius: 4px;
}
.t_guess b
{
    color: rgb(234, 116, 116);
    
}
.t_guess
{
    margin-top: 40px;
    margin-bottom: 10px;
}
.game-modal
{
    transition: all;
    transition-duration: 1s;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content
{
  background: white;
  text-align: center;
  width: 300px;
  border-radius: 5px;
  
}
.game-modal img
{
    max-width: 200px;
}
.correct_one
{
    margin: 10px;
}
.Play_Again
{
    cursor: pointer;
    width: 90px;
    height: 30px;
    background-color: #5E63BA;
    color: white;
    border: none;
    margin-bottom: 5px;
    border-radius: 4px;
}
.game-modal
{
    display: none;
}
.buttons:hover
{
    background-color: #8488d7;
}
.hint-paragraph
{
   margin-bottom: 10px;
}
.list.guesses
{
    font-size: 20px;
    margin-bottom: 0px;
    border-bottom: none;
}
.game-modal h4
{
    margin-top: 10px;
}
.content img
{
    padding-right: 20px;
}
.content
{
    transition: all;
    transition-duration: 10s;
    transition-timing-function: ease-in-out;
}
.keyboard
{
    margin-top: 30px;
}
audio
{
    display: none;
}