*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header
{
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: red;
 text-align: center;
 height: 10vh;
 
}
.section1
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.A:hover
{
  color: brown;
}
option{
width:200px;
}