*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor:default;
}
html
{
    animation-name: fade-in;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
}
@keyframes fade-in {
    0%
    {
        opacity: 10%;
    }
    20%
    {
        opacity: 30%;
    }
    40%
    {
        opacity: 50%;
    }
    60%
    {
        opacity: 70%;
    }
    80%
    {
        opacity: 90%;
    }
    100%
    {
        opacity: 100%;
    }
    
}

body{
    overflow-x: hidden;
}
.main-width{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.game1{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #fcd21e;
    position: relative;
}
header{
    background-color: #fad83d;
}
.game1 header .logo h2 a{
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
.game1 header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30;
}
nav ul li{
    list-style:none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
nav ul li a::before{
    content:'';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.4s ease-out;
}
nav ul li a:hover::before{
    transform:scaleX(1);
    transform-origin: bottom left;
}
#searching{
    width:480px;
}
.content{
    padding-top: 100px;
}
.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}
.content .main-text h6{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.content .main-text h3{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.content .main-text h1{
    font-size: 100px;
    line-height: 1;
    color: white;
    margin: 0px 0px 45px;
    font-family: 'Berkshire Swash', cursive;
}
.content .main-text p{
    max-width: 100%;
    width: 480px;
    color: white;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
}
.content .main-text a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
.content .main-text a:hover{
    transform: scale(1.2);
    border: 1px solid #fcd21e;
    background: transparent;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
.content .social{
    position: relative;
    z-index: 2;
    margin-top: 200px;
    padding-bottom: 40px;
}
.content .social a{
    text-align: center;
    display: inline-block;
    margin-right: 25px;
    font-size: 24px;
}
.social .btn{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: white;
    border-radius: 50px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.social .btn:hover{
    width: 200px;
}
.social .btn .contactus{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}
.social .btn .contactus i{
    margin-left: 15px;
    color:#fcd21e;
    font-size: 25px;
    line-height: 60px;
}
.social .btn span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}
.social .btn:hover .contactus i{
    color:white;
} 
.social .btn:nth-child(1):hover .contactus{
     background: rgb(160, 29, 141);
}

.social .btn:nth-child(2):hover .contactus{
    background: #0A66C2;
}

.social .btn:nth-child(3):hover .contactus{
    background: #00acee;
}

.social .btn:nth-child(4):hover .contactus{
    background: red;
}

.social .btn:nth-child(5):hover .contactus{
    background: #3b5998;
}

.social .btn:nth-child(6):hover .contactus{
    background: black;
}
.image img{
    position: absolute;
    right:0;
    filter: brightness(100%);
    width: 550px;
    height: 500px;
    transform: translate(-50px, -750px);
    text-align: right;
}
#icon{
    width: 50px;
    height:40px;
    padding-right: 7px;
    margin-left: 0;
    padding-left: 0;
}
#icon{
    width: 55px;
    height:50px;
    padding-right: 7px;
    transform: translateY(20%);
    margin-left: 0;
    padding-left: 0;
}