*{
  margin: 0%;
  padding: 0%;
}
header{
  background-color: rgb(38, 50, 105);
  height: 12vh;
  width: 100%;
  margin-bottom: 35px;
}
html{
  background-color: aliceblue;
}
p{
  color: aliceblue;
  font-family: fantasy;
  font-size: 5vh;
  padding: 3vh;
}
img{
  height: 100px;
  width: 200px;
  border: 1.5px solid rgb(219, 215, 215);
  border-radius: 4px;
  padding: 5px;
  opacity: 1;
  transition: 0.5 ease;
  backface-visibility: hidden;
}
.row , .row1{
  height: 100px;
  width: 200px;
  margin: 20px;
  
}
.column1 , .column2 ,.MENU{
  display:flex; 
  justify-content: center;
}
.rps , .ttt ,.maze{
  display: none;
  transition: .5s ease;
}

.row1:hover + .rps {
  display: block;
  color: rgb(12, 1, 1);
  background-color: rgb(227, 227, 227);
  border-radius: 1rem;
  box-shadow: 5px 10px grey;
  padding: 5px;
  transition-timing-function: ease;
 transition-duration: 1s;
}
.row1:hover + .ttt {
  display: block;
  color: rgb(12, 1, 1);
  background-color: rgb(227, 227, 227);
  border-radius: 1rem;
  box-shadow: 5px 10px grey;
  padding: 5px;
  transition-timing-function: ease;
 transition-duration: 1s;
}
.row1:hover + .maze {
  display: block;
  color: rgb(12, 1, 1);
  background-color: rgb(227, 227, 227);
  border-radius: 1rem;
  box-shadow: 5px 10px grey;
  padding: 5px;
  transition-timing-function: ease;
 transition-duration: 1s;
}


.col{
  display: flex;
  justify-content: space-between;
}
.menu{
  padding:4vh;
  color: aliceblue;
  font-size: 3vh;
}
.menu:hover{
  text-decoration: underline;
  transform:scale(1.2);
}
.row1:active img
{
  opacity: 0.5;
}
.row1:active .play{
  opacity: 1;
  height: 40px;
  width: 40px;
  padding-left: 85px;
  padding-top: 35px;
}
.play{ 
opacity: 0;
position: absolute;
border:none;
}