*{
    margin: 0%;
    font-family: 'Finger Paint', cursive;
    padding: 0%;
 
}
body{
    background-color:rgb(15, 72, 52) ;
}
.COLUMN{
    display:flex;
   
    justify-content: center;
}
.ROWS{
    background-color: rgb(244, 223, 178);
    height: 20vh;
    width: 20vh;
   
    box-shadow: 0px 0px 1.5vh rgb(15, 72, 52);
    border: 0.01vh solid rgb(15, 72, 52);
    font-family: 'Finger Paint', cursive;
    font-size: 13vh;
    color:rgb(15, 72, 52) ;
    text-align: center;
}
button{
    border: none;
}
.cols{
    margin-top:10vh ;
}
header{
    font-size: 7vh;
    text-align: center;
    background-color: rgb(244, 223, 178);
    color: rgb(15, 72, 52);
    box-shadow: 0vh 1.5vh 2vh seagreen;
}
.selection{
    color:rgb(15, 72, 52) ;
}

#RES{
    margin-top: 5vh;
    text-align: center;
    color: rgb(15, 72, 52);
    font-size: 11vh;
    font-family: 'Finger Paint', cursive;
}
.restart{
    border-radius: 2.5vh;
    background-color: rgb(244, 223, 178);
    width: 17vh;
   margin-top: 4vh;
    height: 6vh;
    font-size: 4vh;
    color: rgb(15, 72, 52);
    /* transform: translate(40vh,5vh); */
    transition: 100ms;
    position: absolute;
    left: 46.5%
}
button:active
{
    transform: scale(1.2); 
}
#resultbtn{
    background-color: seagreen;
    color: white;
}
.result{
    
    position: fixed;
    left:38%;
    top: 30%;
    background-color: rgb(244, 223, 178);
    height: 42vh;
    width: 50vh;
    box-shadow: 0vh 1.5vh 2vh seagreen;
    display: none;
}
.back
{
    height: 100%;
    width: 100%;
   background:rgba(0,0,0,0.6);
}
.restart2{
    border-radius: 2.5vh;
    background-color: rgb(15, 72, 52);
    width: 17vh;
    height: 6vh;
    font-size: 4vh;
    color:rgb(244, 223, 178);
    /* transform: translate(40vh,5vh); */
    transition: 100ms;
    position: absolute;
    top:65%;
    left: 33%;
}